src/test/resources/xsd/xsd9.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Egar.Focus.Events.Base.Helpers" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Egar.Focus.Events.Base.Helpers"><xs:complexType name="IdName"><xs:sequence><xs:element minOccurs="0" name="Id" nillable="true" type="xs:int"/><xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="IdName" nillable="true" type="tns:IdName"/><xs:complexType name="ArrayOfIdName"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="IdName" nillable="true" type="tns:IdName"/></xs:sequence></xs:complexType><xs:element name="ArrayOfIdName" nillable="true" type="tns:ArrayOfIdName"/></xs:schema>